.options {
  display: absolute;
  height: 100px;
  width: 100%;
}

.optionsTitle {
  font-size: 2em;
}

.optionsLabel {
  font-size: 1.4em;
}

.optionsDescription {
  margin-left: 40px;
}

.optionsValue {
  margin: 8px;
}

.optionsValueInput {
  display: inline-block;
  margin-left: 40px;
  width: 60px;
}

.sortableList {
  list-style-type: none;
}

.sortableListItem {
  display: block;
  padding: 6px;
  margin: 2px;
  width: 200px;
  list-style-type: none;
  border: solid 1px;
  vertical-align: middle;
}

.dragIcon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 4px;
  pointer-events: none;
}
