{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "mocha":   true
    },
    "rules": {
    "no-multi-spaces": ["error", {
      "exceptions": {
        "VariableDeclarator": true,
        "ImportDeclaration": true,
        "Property": true,
        "AssignmentExpression": true,
      }
    }],
    "key-spacing":  ["error", { align: "value" }],
    "react/require-extension": ["off", { "extensions": [".jsx", ".js"] }],
    "react/destructuring-assignment": ["off", "always", { "ignoreClassFields": true }],
    "react/prefer-stateless-function": 0,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true,
      "optionalDependencies": false,
      "peerDependencies": false
    }]
  }
}
