{
  "require": [
    "./test/setup.js",
    "@babel/register",
    "@babel/polyfill"
  ],
  "include": ["src/**/*.{js,jsx}"],
  "exclude": ["test/**/*.test.js"],
  "reporter": [
    "text-summary",
    "clover",
    "html"
  ],
  "sourceMap": false,
  "instrument": false
}