name: CI

on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: release
      env:
        EXTENSION_ID: ${{ secrets.EXTENSION_ID }}
        API_KEY: ${{ secrets.API_KEY }}
        API_SECRET: ${{ secrets.API_SECRET }}
      run: |
        npm install
        npm run release:firefox
    - uses: actions/upload-artifact@v1
      with:
        name: web-ext-artifacts
        path: web-ext-artifacts/
