@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* only chrome */
  body {
    height: 500px;
  }
}

.commandForm {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.commandInput {
  position: fixed;
  margin: 0;
  width: 100%;
  padding: 8px;
  top: 0;
  height: 36px;
}

.candidatesList {
  list-style-type: none;
  margin: 0;
  padding: 36px 0 0;
}

.candidate {
  display: block;
  padding: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.candidate:hover {
  background-color: #D8D8D8;
}

.candidate.selected {
  background-color: #87cefa;
}

.candidate-label {
  display: inline;
  margin: 8px;
  margin-left: 0;
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}

.candidate-icon {
  display: inline;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  padding: 0;
}

.candidate-icon-dummy {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  padding: 0;
}
